<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62762267777-1a5nqt0rgqlrdpdus7v3v8i23dasmhde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62762267777-1a5nqt0rgqlrdpdus7v3v8i23dasmhde</string>
	<key>API_KEY</key>
	<string>AIzaSyDmJkZJD9k9Fwfla8PoWYRo0bnD6adDOM0</string>
	<key>GCM_SENDER_ID</key>
	<string>62762267777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo</string>
	<key>PROJECT_ID</key>
	<string>to-do-23786</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-23786.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62762267777:ios:02fe4bf57d676a0ea90980</string>
</dict>
</plist>